body {
	margin: 0;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.template {
	display: none;
}

.receipt-info-box-wrap {
	position: fixed;
	display: flex;
	flex-direction: column-reverse;
	top: 0;
	z-index: 1;
	max-height: 55px;
}

.receipt-info-box {
	height: 25px;
	padding: 3px;
	margin: 7px 0 0 0;
	box-sizing: border-box;
	border-radius: 4px;
	background-color: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	text-align: center;
	opacity: 0.8;
	transition: opacity 0.8s ease, height 0.3s ease, padding 0.3s ease, background-color 0.2s ease;
}

.receipt-info-box.collapsed {
	height: 0;
	opacity: 0;
	padding: 0;
}

.receipt-info-box:not(:first-child) {
	opacity: 0.4;
}

.receipt-info-box:empty {
	opacity: 0;
}

.receipt-info-box[data-status='saving'] {
	background-color: gray;
}

.receipt-info-box[data-status='error'] {
	background-color: salmon;
}

.receipt-info-box[data-status='saved'] {
	background-color: lightgreen;
}

.receipt-info-box[data-status='exists'] {
	background-color: khaki;
}

.video-wrap {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.debug-mode-image,
.open-image {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 4px;
	right: 32px;
	border: none;
	padding: 0;
	background: none;
}
.debug-mode-image img,
.open-image img {
	display: block;
	width: 100%;
	height: 100%;
}
.debug-mode-image {
	left: 4px;
}
.open-image {
	right: 32px;
}

.receipt-side-panel {
	position: absolute;
	display: flex;
	flex-direction: column;
	right: 0;
	width: 320px;
	height: 100vh;
	z-index: 2;
	background-color: white;
	border-left: 2px solid lightgray;
	transition: transform 0.3s ease, opacity 0.2s ease;
}
.receipt-side-panel.hidden {
	transform: translateX(92%);
	opacity: 0.8;
}

.receipt-filter-wrap {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	margin: 3px 3px 4px 3px;
	white-space: nowrap;
}

.receipt-side-panel-collapse-btn {
	background-color: #eee;
	border: 1px solid darkgray;
	border-radius: 3px;
	margin-right: 16px;
}
.receipt-side-panel-collapse-btn:hover {
	background-color: lightgray;
}

.receipt-filter-form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.receipt-filter-form input[type='text'] {
	width: 110px;
}

.receipt-list-wrap {
	overflow-y: auto;
	overflow-x: visible;
}
.receipt-list-wrap.stale {
	opacity: 0.5;
}

.receipt-list-item {
	white-space: nowrap;
	padding: 5px;
	overflow: hidden;
	transition: margin 0.3s ease, background-color 1s ease;
	box-sizing: border-box;
}
.receipt-list-item.correct {
	background-color: #ffb;
}
.receipt-list-item.filled {
	background-color: #dfd;
}
.receipt-list-item.failed {
	background-color: #fdd;
}
.receipt-list-item.collapsed {
	margin-top: -82px;
}
.receipt-side-panel.hidden .receipt-list-item.collapsed {
	background-color: yellow;
}

.receipt-list-item .highlight {
	background: gold;
	border-radius: 1px;
}

.receipt-list-item .title > * {
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
}

.receipt-list-item .main-info {
	display: flex;
	justify-content: space-between;
	font-size: 90%;
	margin: 4px 0;
}

.receipt-list-item .sub-info {
	display: flex;
	justify-content: space-between;
	font-size: 70%;
	color: gray;
}

.receipt-list-item .retail_place_address {
	max-width: 100%;
	direction: rtl;
	overflow: hidden;
	text-overflow: ellipsis;
}

.receipt-list-item:not(:first-child) {
	border-top: 1px solid lightgray;
}

.receipt-list-item .searched_details {
	white-space: normal;
	font-size: 80%;
}
.receipt-list-item .searched_details:not(:empty) {
	margin-top: 5px;
}
.receipt-list-item .searched_details .price {
	font-weight: bold;
}
.receipt-list-item .searched_details .quantity {
	color: gray;
}
